.DS_Store
.idea
.vscode
.docx
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore images
#*.jpg
#*.JPG
#*.png
#*.PNG
#*.jpeg
#*.JPEG

# Ignore annotations
#*.xml
#*.XML
#*.txt
#*.TXT
#*.yaml
#*.YAML
#*.json
#*.JSON